.l-header {
  // position: fixed;
  z-index: $nav-z-index;
  top: 0;
  left: 0;

  width: 100%;
  height: $header-h;

  background-color: $light-c;
  // box-shadow: 0 5px 12px rgba(0,0,0, .15);

  transition: background-color .3s;

  @include mappy-query(tablet) {
    padding: 0 1.5rem;
  }
};

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $wrapper-max-w;
  height: $header-h;

  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @include mappy-query(screen) {
    padding-right: 0;
    padding-left: 0;
  }
}

.l-header.is-scrolled {
  background-color: $light-c;
  box-shadow: 0 3px 18px rgba(00,00,00, .18);
}

.l-header.is-open {
  background-color: $light-c;
}

.l-header__claim {
  max-width: $wrapper-max-w;
  margin: 0 auto;

  // padding-top: calc(#{$header-h} + 2rem);
  padding: 2rem 1rem;
  
  @include mappy-query(tablet) {
    // padding-top: calc(6rem + #{$header-h});
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  

  h1 {
    @include mappy-query(tablet) {

    }

    @include mappy-query(screen) {
      width: 80%;
    }
  }
}
