//-------------------------------//
//           RESPONSIVE          //
//-------------------------------//
$mobile-min:                1px;
$mobile-l-min:              567px;
$mobile-l-max:              736px;
$mobile-max:                767px;

$tablet-min:                768px;
$tablet-l-min:              959px;
$tablet-max:                1159px;

$screen-min:                1160px;
$screen-max:                1599px;

$largescreen-min:           1600px;

$container-gap: 1rem;

$breakpoints: (
  mobile-l-min: $mobile-l-min,
  mobile-l-max: $mobile-l-max,

  tablet-min: $tablet-min,
  tablet-max: $tablet-max,
  tablet-l-min: $tablet-l-min,

  screen-min: $screen-min,
  screen-max: $screen-max,

  largescreen-min: $largescreen-min
);

$mappy-queries: (
  mobile-only: mappy-bp(mobile-min mobile-max),
  mobile-bigger: mappy-bp(mobile-l-min),
  mobile-landscape: mappy-bp(mobile-l-min orientation landscape),
  tablet: mappy-bp(tablet-min),
  tabet-only: mappy-bp(tablet-min tablet-max),
  tablet-bigger: mappy-bp(tablet-l-min),
  tablet-landscape: mappy-bp(tablet-min orientation landscape),
  screen: mappy-bp(screen-min),
  screen-only: mappy-bp(screen-min screen-min),
  largescreen: mappy-bp(largescreen-min)
);

//-------------------------------//
//              MISC             //
//-------------------------------//
$img-path: './../img';
$svg-path: './../svg';

//-------------------------------//
//           TYPOGRAPHY          //
//-------------------------------//

$base-font-size: 16px;
$base-line-height: 1.5;

$font-s--smaller: .875rem;
$font-s--bigger: 1.125rem;
$font-s--big: 1.25rem;
$font-s--biggest: 1.375rem;

$heading-gap: 1.2rem;

$font-family--text: 'open-sans', sans-serif;
$font-family--headlines: 'ubuntu', Tahoma, Helvetica, sans-serif;

//-------------------------------//
//             COLORS            //
//-------------------------------//
$enrian-gray-c: #737373;
$enrian-green-c: #759300;

$light-c: #ffffff;
$dark-c: #000000;

$primary-c: #78B526;
$primary-c--darker: #6EAC1B;

$secondary-c: #46167d;
$secondary-c--lighter: #5d2d93;

$neutral-c: #FCF9F9;
$neutral-c--darkest: #2a2a2a;

$text-c--darker: #323232;
$text-c: #484848;
$text-c--lighter: #727272;
$text-c--lightest: #AFAFAF;

//-------------------------------//
//             LAYOUT            //
//-------------------------------//
$wrapper-max-w: 60rem;

$header-h: 80px;
$logo-h: 42px;
$logo-h--bigger: 54px;

//-------------------------------//
//            Z-INDEX            //
//-------------------------------//
$nav-z-index: 100;
