.c-check-list {
  list-style-type: none;

  @include mappy-query(tablet) {
  }
}

.c-check-list__item {
  display: flex;
  align-items: flex-start;

  position: relative;

  margin-bottom: 1rem;

  color: $text-c;
  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }

  @include mappy-query(tablet) {
    // font-size: $font-s--bigger;
  }
}

.c-check-list__icon {
  position: relative;
  top: 3px;

  flex: 0 0 20px;

  & * {
    fill: $primary-c;
  }

  @include mappy-query(screen) {
    flex-basis: 23px;
  }
}

.c-check-list__text {
  padding-left: 1rem;
}
