.c-logo {
  @include mappy-query(tablet) {
    display: block;
    height: $header-h;
  }
}

.c-logo__link {
  display: flex;
  align-items: center;
}

.c-logo__img {
  display: block;

  height: 36px;

  @include mappy-query(tablet) {
    height: $logo-h;
    margin-top: calc((#{$header-h} - #{$logo-h}) / 2);
  }
}
