$expert-img-w--tablet: 300px;
$expert-img-w--screen: 380px;
$expert-img-w--largescreen: 410px;

.expert {
  position: relative;
  z-index: 2;
  background-color: $neutral-c;

  padding: 2rem 1rem;

  @include mappy-query(tablet-bigger) {
    &:after {
      content: "";

      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;

      display: block;
      width: 33.333%;
      height: 100%;

      background-color: $primary-c;
    }
  }
}

.expert__content {
  max-width: $wrapper-max-w;

  margin: 0 auto;

  @include mappy-query(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;    
  }
}

.expert__info {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  @include mappy-query(tablet-bigger) {
    min-height: 400px;
    max-width: 400px;

    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include mappy-query(screen) {
    min-height: 580px;
  }
}

.expert__photo {
  display: none;

  @include mappy-query(tablet) {
    display: block;

    width: 220px;
  }

  @include mappy-query(tablet-bigger) {
    position: absolute;
    top: 50%;
    right: calc(33.333% - (#{$expert-img-w--tablet} / 2));

    width: $expert-img-w--tablet;

    transform: translateY(-50%);
  }

  @include mappy-query(screen) {
    right: calc(33.333% - (#{$expert-img-w--screen} / 2));

    width: $expert-img-w--screen;
  }

  @include mappy-query(largescreen) {
    right: calc(33.333% - (#{$expert-img-w--largescreen} / 2));

    width: $expert-img-w--largescreen;
  }
}

.expert__availability {
  position: relative;
  top: 2px;

  font-weight: 700;
  font-size: $font-s--biggest;
  color: $primary-c;
}

.expert--revert {
  background-color: $light-c;

  @include mappy-query(tablet-bigger) {
    background-color: $neutral-c;

    &:after {
      right: auto;
      left: 0;
    }
  }

  .expert__content {
    @include mappy-query(tablet) {
      flex-flow: row-reverse;
    }
  }

  .expert__photo {
    right: auto;
    left: calc(33.333% - (#{$expert-img-w--tablet} / 2));
  }

  .expert__info {
    @include mappy-query(tablet) {
      padding-left: 2rem;
    }

    @include mappy-query(tablet-bigger) {
      padding-left: 0;
    }
  }
}
